body{
    background-color: rgb(255, 250, 250);
}
.headerimage{
    position: relative;
    height:200px;
    width: 1350px;
}
.logo{
    position: relative;
    height: 70px;
    width: 70px;
    top: -90px;
    left: 650px;
}
.theme{
    color:black;
    font-family: sans-serif;
    position: relative;
    top:-70px;
    left: 460px;
    font-size: 25px;
}
.sen1{
    color:gray;
    font-family: sans-serif;
    position: relative;
    top:-80px;
    left: 460px;
    font-size: 12px;
   
}
.sen2{
    color:gray;
    font-family: sans-serif;
    position: relative;
    top:-60px;
    left: 155px;
    font-size: 12px;
}
.ios{
    background-color: rgb(39, 180, 150);
    color: white;
    height: 20px;
    width: 150px;
    position: relative;
    left:450px;
    top: -40px;
    border-radius: 50px;
    align-content: center;
    text-align: center;
    padding: 10px;

}
.mac{
    background-color: rgb(117, 39, 180);
    color: white;
    height: 20px;
    width: 150px;
    left: 650px;
    position: relative;
    top: -80px;
    border-radius: 50px;
    align-content: center;
    text-align: center;
    padding: 10px;
}
.head2{
    color: black;
    position: relative;
    left: 500px;
    top:-70px;
   
}
.cli{
    color: gray;
    position: relative;
    left: 400px;
    top:-80px;

}
.sni{
    color: gray;
    position: relative;
    left: -132px;
    top:-65px;
}
.org{
    color: gray;
    position: relative;
    left: -500px;
    top:-52px;
}
.com{
    position: relative;
    width: 600px;
}
.quick{
    position: relative;
    right: -700px;
    top:-450px;
}
.qui{
    font-weight: 100em;}

.eas{
    color: gray;
}
.cat{
    color: gray;
}

.icloud{
    position: relative;
    right: -700px;
    top:-430px;
}
.complete{
    position: relative;
    right: -700px;
    top:-400px;
}
.icl{
    font-weight: 100em;}
}
.ins{
    color: gray;
}
.all{
    color: gray;
}
.ple{
    font-weight: 100em;
    font-size: 12px;
}
.ret{
    color: gray;

}
.you{
    color: gray;
}
.acc{
    color: black;
    position: relative;
    left: 500px;
    top:-250px; 
    font-weight: 100px;
    font-size: 30px;
}
.whe{
    color:gray;
    position: relative;
    left: 400px;
    top:-300px; 
}
.pet{
    color:gray;
    position: relative;
    left: 600px;
    top:-300px; 
}
.device{
    position: relative;
    top:-200px;
    left:200px;
    height: 600px;
    width: 800px;
}
.sup{
    font-size: 30px;
    top:-200px;
    left:500px;
    position: relative;
    font-weight: 200px;
}
.too{
    color:gray;
    position: relative;
    left: 530px;
    top:-200px; 
}
}